extends ../templates/main

block header
  include ../includes/header
  :markdown
    ## Jade+Stylus+Grunt = amazing.

block mainContent
  :markdown
    ## Put something here

  #features
    h3 Random
    #current
      h2 Away we go

    #planned
