/*
	## Frameworks Note:

	Grunt is configured to use both fluidity and roots,
	which each have a grid() mixin.
	Fluidity's grid doesn't load until imported,
	so alias one as rootsGrid.

*/ 
rootsGrid = grid

/*! Roots Mixins */
global-reset()
headers()
lists()
//debug()
img-path = '../images/'

/*! Solarized color theme */
@import "solarized"

/*! Roots Settings */
font-stack = monospace
font-size  = 15
font-color = solarized_base0
default-color = solarized_base0



/*! Roots with colors from solarized */
base()
text-selection(lighten(solarized_cyan, 60%))

/*! Fluidity normalize, type, grid, and CSS3 */

@import "fluidity"
/*
@import "fluidity/normalize"
@import "fluidity/type"
@import "fluidity/semantic-grid"
@import "fluidity/css3"
*/



/*! Base styles for Responsive Setup */

pageMinWidth = 480px
responsiveBreakpoint = 820px
responsiveMedia = 'screen and (max-width:'+responsiveBreakpoint+')'

body
	min-width pageMinWidth
	position relative
	font-family monospace

#wrapper
	grid(80%, pageMinWidth)
	#features
		#current, #planned
			grid-space(50%)

#footer
	text-align center

a.github
	position absolute
	right 0
	top 0

body #mainContent
	a:hover, a:focus, a:active
		color solarized_blue
		text-decoration none
	a:active
		text-shadow 0px 0px 10px #fff


@media responsiveMedia
	body
		min-width (responsiveBreakpoint / 2)
	#wrapper
		grid(100%, (responsiveBreakpoint / 2))
		#features
			#current, #planned
				grid-space(100%)